<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.chinalooke.yuwan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- 位置信息权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".config.YuwanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <meta-data
            android:name="design_width"
            android:value="750">
        </meta-data>
        <meta-data
            android:name="design_height"
            android:value="1334">
        </meta-data>

        <!-- 环信集成 -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="panadalove#yuwan20160719"/>
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.QRCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.GameDeskActivity"/>

        <!-- 首页 -->
        <activity android:name=".activity.FirstActivity"/>
        <!-- 登录 -->
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <!-- 注册 -->
        <activity android:name=".activity.RegisterActivity"/>
        <!-- 忘记密码 -->
        <activity android:name=".activity.ForgetPasswordActivity"/>
        <!-- 重置密码 -->
        <activity android:name=".activity.ResetPasswordActivity"/>
        <!-- 二维码 -->
        <!-- 完善 个人信息 -->
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:label="@string/app_name"/>

        <!-- QQ微博分享回调 -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7517ead7e8b35833759613eb4014e4d2"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".activity.FrequentlyGameActivity">
        </activity>
        <activity android:name=".activity.MyCircleActivity">
        </activity>
        <activity android:name=".activity.MoreCircleActivity">
        </activity>

        <!-- 启动页 -->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BindPhoneActivity">
        </activity>
        <activity android:name=".activity.FindPwdCompleteActivity">
        </activity>
        <activity android:name=".activity.SearchActivity">
        </activity>
        <activity android:name=".activity.EaseGroupChatActivity">
        </activity>
        <activity android:name=".activity.DeskUserInfoActivity">
        </activity>

        <service android:name="com.avos.avoscloud.PushService"/>

        <!-- <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT"/> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver android:name=".receiver.MyCustomReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.chinalooke.yuwan"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.AddFriendActivity">
        </activity>
        <activity
            android:name=".activity.CircleDynamicActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activity.CreateCircleActivity">
        </activity>
        <activity android:name=".activity.CircleInfoActivity">
        </activity>
        <activity android:name=".activity.SendDynamicActivity">
        </activity>
        <activity android:name=".activity.CircleRankingActivity">
        </activity>
        <activity android:name=".activity.NetbarADActivity">
        </activity>
        <activity android:name=".activity.DynamicDetailActivity">
        </activity>
        <activity android:name=".activity.SignInActivity">
        </activity>
        <activity android:name=".activity.UserInfoActivity">
        </activity>
        <activity android:name=".activity.MyQRCodeActivity">
        </activity>
        <activity android:name=".activity.FriendsActivity">
        </activity>
        <activity android:name=".activity.AddFriendsActivity">
        </activity>
    </application>

</manifest>